*{
    text-align: center;    
}
#add-button{
    margin-left: 20px;
    height: 35px;
    color: black;
    font-weight: bold;
    background-color: lightblue;
}
.add{
    height: 30px;
    width: auto;
}
.text{  
    background-color: lightcoral;
    margin: auto;
    width: 30%;
    height: auto;
    padding: 20px;
}
